/*遮罩层样式*/
.__cover__ {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    min-width: 700px;
    min-height: 740px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    background-color: #ffffff;
    display: none;
}

/*大图样式*/
.__max_image__ {
    padding: 3px;
    /*padding-top: 30px;*/
    border-radius: 3px;
    position: fixed;
    z-index: 999991;
    /*top: 25%;*/
    /*left: 50%;*/
    /*margin-left: -140px;*/
    background-color: orange;
    cursor: move;
}


/*关闭按钮*/
.__close_button__ {
    color: #ffffff;
    position: fixed;
    z-index: 999992;
    width: 14px;
    height: 14px;
    top: 25%;
    left: 50%;
    margin-left: 125px;
    margin-top: 8px;
}

























