<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xxz.mapper.UserMapper">

	<select id="findUser" resultType="org.xxz.domain.User">
		select id,name from user where id = #{id}
	</select>
	
	<insert id="saveUser" parameterType="org.xxz.domain.User" useGeneratedKeys="true" keyProperty="id">
	    insert into user(name) values (#{name})
	</insert>
	
	<update id="updateUser" parameterType="org.xxz.domain.User">
	    update user set name = #{name} where id = #{id}
	</update>
	
	<delete id="deleteUser" parameterType="java.lang.Long">
	    delete from user where id = #{id}
	</delete>
	
	<select id="findAll" resultType="org.xxz.domain.User">
	   select id, name from user
	</select>

</mapper>
